extends ../user/layouts/common.pug
block content
    h1 User
            .d-flex.align-items-center
                a.btn.btn-primary(href="/user/create") Create
                form.d-flex.m-2(action="/user/search", method="GET")
                    input.form-control(type="search" name="value" placeholder= 'Search...' value=query)
                    button.btn.btn-primary Search
    table.table
        tr
            th.d-flex.justify-content-center Avatar
            th Name
            th Email
            th View
        each user in users
            tr  
                td.d-flex.justify-content-center
                    img(src= user.file width= 50)
                td= user.name
                td=user.email
                td 
                    a.btn.btn-primary(href="/user/" + user.id) View
    