html
    head
        link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        nav.navbar.navbar-dark.bg-dark
            a.navbar-brand(href='/user') Practice ExpressJS
            if user
                a.text-light= user.name
        .container.pt-5
            block content