doctype html
html(lang='en')
    head
        title= pageTitle
    body
        p  Hello #{name}
        div(class="container") 
        form(action="" method="get")
            input(type="text" name="input")
            button(class="btn-search") Search

        h1 users
        ul 
        each user in users
            li= user.name